* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
}

h2 {
    font-family: serif;
}

p {
    font-family: sans-serif;
    font-size: 18px;
}

.encabezado {
    background-image: url('../images/howl011.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    border-bottom: #111 solid 3rem;
}

.encabezado div {
    background-color: #0005;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.encabezado .titulo {
    text-align: center;
}

.encabezado .titulo img {
    width: 50%;
}

.descripcion,
.argumento {
    margin: 3rem;
}

.descripcion h2,
.argumento h2,
.trailer h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.descripcion p,
.argumento p {
    text-align: justify;
    margin-bottom: 1rem;
}

.descripcion p .cursiva {
    font-style: italic;
}

.descripcion p .negrita {
    font-weight: 600;
}

.argumento .p1,
.argumento .p2,
.argumento .p3,
.argumento .p4 {
    display: flex;
}

.argumento .p1 .texto,
.argumento .p2 .texto,
.argumento .p3 .texto,
.argumento .p4 .texto {
    width: 300%;
}

.argumento .p1 .contenedor-img,
.argumento .p2 .contenedor-img,
.argumento .p3 .contenedor-img,
.argumento .p4 .contenedor-img {
    width: 500%;
    margin-left: 2rem;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.argumento .p1 .contenedor-img div,
.argumento .p2 .contenedor-img div,
.argumento .p3 .contenedor-img div,
.argumento .p4 .contenedor-img div,
.trailer .contenedor-iframe {
    background-color: #fff;
    border: #111 solid 0.1rem;
    padding: 1rem 1rem 2rem;
    margin-bottom: 2rem;
}

.argumento .p1 .contenedor-img div img,
.argumento .p2 .contenedor-img div img,
.argumento .p3 .contenedor-img div img,
.argumento .p4 .contenedor-img div img {
    width: 100%;
    height: 100%;
}

.argumento .p1 .contenedor-img div p,
.argumento .p2 .contenedor-img div p,
.argumento .p3 .contenedor-img div p,
.argumento .p4 .contenedor-img div p {
    font-size: 14px;
    margin: 0;
}

.trailer div {
    display: flex;
    justify-content: center;
}

.footer {
    background-color: #111;
    color: #eee;
    padding: 2rem;
}

.footer li {
    margin: .5rem 1.5rem;
}

.footer a {
    text-decoration: none;
    color: #eee;
}

.footer a:hover {
    color: #f00;
}

.footer .creditos {
    text-align: center;
}

@media (max-width: 1024px) {

    .argumento .p1,
    .argumento .p2,
    .argumento .p3,
    .argumento .p4 {
        flex-wrap: wrap;
    }

    .argumento .p1 .contenedor-img,
    .argumento .p2 .contenedor-img,
    .argumento .p3 .contenedor-img,
    .argumento .p4 .contenedor-img {
        width: 100%;
        margin: 0;
    }
}
